body {
background-image:url("/static/pw_maze_white.png");
font-family: 'Tenor Sans', sans-serif;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.item { margin: 80px;}

a{
  color: #af2b26;
}

h1{
font-family: 'Lobster', cursive;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bubble { overflow:hidden; margin:10px; position:relative; }
.bubble .speech { background-color:#ebe5d2; color:#7b6f49; padding:10px; margin-left:15px; }
.bubble .arrow{ width:0; height:0; border-left: 0px solid transparent;  border-right: 15px solid #ebe5d2; border-bottom: 15px solid transparent; border-top: 0; position:absolute; left:0px; top:10px; }

.grey-star {display: block; width: 65px; height: 13px; background: url(/static/star-rating-sprite.png) 0 0;}
.yellow-star {"display: block; width: 20%; height: 13px; background: url(/static/star-rating-sprite.png) 0 -13px;}
