<!doctype html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>YouTube Video Listing</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
<link href='/css/mainstyle.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
<h1 class="header">Totally Tubular</h1>
<h2 class="sub-header">Which top YouTube videos do you want to check out?</h2>
<br>


<div id="stylized" class="myform">
<form id="form" name="form" method="post">


<label>Country:
<span class="small">Choose the country</span>
</label>
<div class="styled-select">
<select name="country">
	<option value="All">All Countries</option>
	<option value="AR">Argentina</option>
	<option value="AU">Australia</option>
	<option value="BE">Belgium</option>
	<option value="BR">Brazil</option>
	<option value="CA">Canada</option>
	<option value="CL">Chile</option>
	<option value="CO">Colombia</option>
	<option value="CZ">Czech Republic</option>
	<option value="EG">Egypt</option>
	<option value="FR">France</option>
	<option value="DE">Germany</option>
	<option value="GB">Great Britain</option>
	<option value="HK">Hong Kong</option>
	<option value="HU">Hungary</option>
	<option value="IN">India</option>
	<option value="IE">Ireland</option>
	<option value="IL">Israel</option>
	<option value="IT">Italy</option>
	<option value="JP">Japan</option>
	<option value="JO">Jordan</option>
	<option value="MY">Malaysia</option>
	<option value="MX">Mexico</option>
	<option value="MA">Morocco</option>
	<option value="NL">Netherlands</option>
	<option value="NZ">New Zealand</option>
	<option value="PE">Peru</option>
	<option value="PH">Philippines</option>
	<option value="PL">Poland</option>
	<option value="RU">Russia</option>
	<option value="SA">Saudi Arabia</option>
	<option value="SG">Singapore</option>
	<option value="ZA">South Africa</option>
	<option value="KR">South Korea</option>
	<option value="ES">Spain</option>
	<option value="SE">Sweden</option>
	<option value="TW">Taiwan</option>
	<option value="AE">United Arab Emirates</option>
	<option value="US">United States</option>
</select></div>

<br><br>


<label>Video Category:
<span class="small">Choose the YouTube video category</span>
</label>
<div class="styled-select">
<select name="category">
  <option value="All">All Categories</option>
  <option value="Film">Film & Animation</option>  
  <option value="Autos">Autos & Vehicles</option>  
  <option value="Music">Music</option>  
  <option value="Animals">Pets & Animals</option>  
  <option value="Sports">Sports</option>  
  <option value="Shortmov">Short Movies</option>  
  <option value="Travel">Travel & Events</option>  
  <option value="Games">Gaming</option>  
  <option value="Videoblog">Videoblogging</option>  
  <option value="People">People & Blogs</option>  
  <option value="Comedy">Comedy</option>  
  <option value="Entertainment">Entertainment</option>  
  <option value="News">News & Politics</option>  
  <option value="Howto">Howto & Style</option>  
  <option value="Education">Education</option>  
  <option value="Tech">Science & Technology</option> 
  <option value="Nonprofit">Nonprofits & Activism</option> 
</select></div>

<br><br>


<label>Video Feed:
<span class="small">Choose the <a href="https://developers.google.com/youtube/2.0/reference#Standard_feeds">standard YouTube video feed</a>.</span>
</label>
<div class="styled-select">
<select name="feed">
  <option value="most_discussed">Most Discussed</option>
  <option value="most_recent">Most Recent</option>
  <option value="most_responded">Most Responded</option>
  <option value="most_popular">Most Popular</option>
  <option value="top_favorites">Top Favorites</option>
  <option value="top_rated">Top Rated</option>  

</select></div>

<br><br>

<label>Number of videos:
<span class="small">Choose up to 50 videos.</span>
</label>
<div class="styled-select">
<select name="number">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
	<option value="32">32</option>
	<option value="33">33</option>
	<option value="34">34</option>
	<option value="35">35</option>
	<option value="36">36</option>
	<option value="37">37</option>
	<option value="38">38</option>
	<option value="39">39</option>
	<option value="40">40</option>
	<option value="41">41</option>
	<option value="42">42</option>
	<option value="43">43</option>
	<option value="44">44</option>
	<option value="45">45</option>
	<option value="46">46</option>
	<option value="47">47</option>
	<option value="48">48</option>
	<option value="49">49</option>
	<option value="50">50</option>
</select></div>

<br><br>


<label>Time:
<span class="small">Choose the time period.</span>
</label>
<div class="styled-select">
<select name="time">
  <option value="today">Today</option>
  <option value="this_week">This Week</option>
  <option value="this_month">This Month</option>
  <option value="all_time">All Time</option>

</select></div>

<br><br><br>

<input id="button" type="submit" value="Submit" />
</form></div>
<br><br><br><br>
<div id="footer">
Comments, questions, concerns?  Get in touch! <br><br>
<a href="https://twitter.com/intent/tweet?screen_name=richmanmax" class="twitter-mention-button" data-size="large" data-related="datahh">Tweet to @richmanmax</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38243200-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
